<div class="container"></div>

<section id="fh5co-hero" class="js-fullheight">
    <div class="row header-row">
        <h1 class="text-white">Image and Video Recognition API</h1>
        <h2 class="lead text-white lead-sub">Powerful, secure, and affordable visual recognition API for developers and businesses</h2>
        <div class="demo">
            <a href="#" class="apisignup btn btn-primary btn-demo">Try Our Demo Now</a>
        </div>
    </div>
</section>

<section class="info-row">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="feature feature-icon-large">
                    <i class="icon-large icon-pictures"></i>
                    <h5>Deliver better content</h5>
                    <p>Curate and publish engaging content for your audience by automatically tagging and organizing your images and videos and making them searchable.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature feature-icon-large">
                    <i class="icon-large icon-pictures"></i>
                    <h5>Deliver better content</h5>
                    <p>Curate and publish engaging content for your audience by automatically tagging and organizing your images and videos and making them searchable.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature feature-icon-large">
                    <i class="icon-large icon-pictures"></i>
                    <h5>Deliver better content</h5>
                    <p>Curate and publish engaging content for your audience by automatically tagging and organizing your images and videos and making them searchable.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="feature feature-icon-large">
                    <i class="icon-large icon-pictures"></i>
                    <h5>Deliver better content</h5>
                    <p>Curate and publish engaging content for your audience by automatically tagging and organizing your images and videos and making them searchable.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="more-info">
    <div class="row">
        <div class="image-container col-md-5 col-sm-4 pull-left">
            <div class="background-image-holder"></div>
        </div>
        <div class="col-md-7">
            <div class="text-container">
                <h3>Advanced machine learning technology, easy-to-use visual recognition API</h3>
                <p class="lead">Clarifai's core visual recognition model recognizes over 11,000 objects, scenes, events, and emotions with human accuracy or better.</p>
                <div class="row">
                    <div class="col article article-icon-left">
                        <div class="article-icon-container">
                            <i class="article-icon icon-target"></i>
                        </div>
                        <div class="article-section">
                            <h6>Plug &amp; Play API</h6>
                            <p>Get started in three lines of code with every client you ever need to easily build an app - Python, NodeJS, Java, Go, Ruby, Haskell, and R.</p>
                        </div>
                    </div>
                    <div class="col article article-icon-left">
                        <div class="article-icon-container">
                            <i class="article-icon icon-speedometer"></i>
                        </div><div class="article-section">
                            <h6>Quick &amp; Efficient Processing</h6>
                            <p>Gain insights about your content at lightning speed - our model returns image recognition results with confidence levels and probabilities in less than 300ms.</p>
                        </div>
                    </div>
                    <div class="col article article-icon-left">
                        <div class="article-icon-container">
                            <i class="article-icon icon-cloud"></i>
                        </div>
                        <div class="article-section">
                            <h6>Secure &amp; Scalable</h6>
                            <p>Trust our technology to scale with your business. We support volumes in the billions using a REST API platform with AWS infrastructure.</p>
                        </div>
                    </div>
                    <div class="col article article-icon-left">
                        <div class="article-icon-container">
                            <i class="article-icon icon-globe"></i>
                        </div>
                        <div class="article-section">
                            <h6>Multi-Language Support</h6>
                            <p>Recognize objects, emotions, and themes in twenty languages, including English, Spanish, French, Chinese, Japanese, Korean, Portuguese, and more.</p>
                        </div>
                    </div>
                    <div class="col article article-icon-left">
                        <div class="article-icon-container">
                            <i class="article-icon icon-flask"></i>
                        </div>
                        <div class="article-section">
                            <h6>Customize &amp; Train Data</h6>
                            <p>Personalize our image recognition technology to understand concepts unique to your business, like your logo, products, or proprietary images.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="clients">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h4 class="lead">The world's most innovative companies use Clarifai's image recognition API</h4>
            </div>
        </div>
        <div class="row client-row">
            <div class="col"><img alt="Unilever" src="images/clients/unilever-gray.png"></div>
            <div class="col"><img alt="Touchnote" src="images/clients/touchnote_logo.png"></div>
            <div class="col"><img alt="500px" src="images/clients/500px_logo_dark.png"></div>
            <div class="col"><img alt="Buzzfeed" src="images/clients/buzzfeed-gray.png"></div>
            <div class="col"><img alt="Trivago" src="images/clients/trivago-gray.png"></div>
            <div class="col"><img alt="PicsArt" src="images/clients/picsart-gray.png"></div>
            <div class="col"><img alt="Curalate" src="images/clients/curalate-gray.png"></div>
            <div class="col"><img alt="Style me pretty" src="images/clients/style-me-pretty-gray.png"></div>
        </div>
    </div>
</section>

<section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="testimonials-slider text-center">
                <ul class="slides">
                    <li class="testimonial">
                        <p class="lead">Using Clarifai’s visual recognition API solution, we’re now able to collect and analyze 10x as many images as we did using manual tagging. Clarifai scales with us as we grow, so the returns will be even higher in the future.</p>
                        <span class="author">
                            <a href="http://blog.clarifai.com/how-stylemepretty-com-uses-visual-recognition-to-grow-their-business-from-publication-to-platform/">Tate Larson - Stylemepretty.com/AOL media company</a>
                        </span>
                    </li>
                    <li class="testimonial">
                        <p class="lead">Clarifai differentiates itself by providing image recognition tools and solutions that businesses and healthcare specialists can use right now, not in ten years. With Clarifai built into our product, we’re achieving 99% accuracy with our visual diagnostic tool!</p>
                        <span class="author">
                            <a href="http://blog.clarifai.com/how-visual-recognition-is-used-to-augment-doctors-and-diagnose-patients/">Dr. Laurent Schmoll - i-NSide medical imaging</a>
                        </span>
                    </li>
                    <li class="testimonial">
                        <p class="lead">Clarifai's image recognition API helps increase the chances for people to sell their photos by surfacing the right image to the right buyer at the right time. Clarifai is now the absolute core of Foap’s tagging mechanism, making images findable in the Foap marketplace.</p>
                        <span class="author">
                            <a href="http://blog.clarifai.com/uncover-buried-stock-photography-treasure-with-automatic-image-tagging-keywording/">David Los - FOAP stock photography marketplace</a>
                        </span>
                    </li>
                </ul>
                <ol class="flex-control-nav flex-control-paging">
                    <li><a class="">1</a></li>
                    <li><a class="">2</a></li>
                    <li><a class="flex-active">3</a></li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="featured">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h4 class="featured-lead">As Featured in</h4>
            </div>
        </div>
        <div class="row client-row">
            <div class="col">
                <a href="http://blog.clarifai.com/portfolio/new-york-city-casts-a-net-to-catch-the-next-big-start-up/" target="_blank">
                    <img alt="New York Times" src="images/featured/nyt.png">
                </a>
            </div>
            <div class="col">
                <a href="http://blog.clarifai.com/portfolio/ai-for-everyone-startups-democratize-deep-learning-so-google-and-facebook-dont-own-it-all/" target="_blank">
                    <img alt="Forbes" src="images/featured/forbes-logo.png">
                </a>
            </div>
            <div class="col">
                <a href="http://blog.clarifai.com/portfolio/the-incredible-ai-that-can-watch-videos-and-tell-you-what-its-seeing/" target="_blank">
                    <img alt="Wired" src="images/featured/wired.png">
                </a>
            </div>
            <div class="col">
                <a href="http://blog.clarifai.com/portfolio/clarifai-ceo-matt-zeiler-discusses-googles-robotic-future-video/" target="_blank">
                    <img alt="Bloomberg" src="images/featured/bloomberg_logo_60.png">
                </a>
            </div>
            <div class="col">
                <a href="http://blog.clarifai.com/portfolio/the-incredible-ai-that-can-watch-videos-and-tell-you-what-its-seeing/" target="_blank">
                    <img alt="Gigaom" src="images/featured/gigaom-logo-bw.png">
                </a>
            </div>
            <div class="col">
                <a href="http://blog.clarifai.com/portfolio/a-startups-neural-network-can-understand-video/" target="_blank">
                    <img alt="MIT Technology Review" src="images/featured/mit-technology-review.png">
                </a>
            </div>
            <div class="col">
                <a href="http://blog.clarifai.com/portfolio/deep-learning-startup-clarifai-gets-10m-to-make-business-hires-add-features" target="_blank">
                    <img alt="VentureBeat" src="images/featured/venturebeat_long-160w_bw.png">
                </a>
            </div>
            <div class="col">
                <a href="http://blog.clarifai.com/portfolio/how-this-entrepreneur-solves-a-problem-for-businesses-and-consumers/" target="_blank">
                    <img alt="Inc." src="images/featured/inc.png">
                </a>
            </div>
        </div>
    </div>
</section>
