<div class="container" >
	<div style="margin:80px 0px 80px 0px">
		<div class="row " >
				
			

			<div class="col-xs-6 col-md-4 col-lg-4 margin" ng-repeat="data in img_data" ng-class="getindex($index) ? 'clear' : 'icon-pfeil-oben'" >
						<div class="img_container" >
							<img class="img-responsive img" src="server/uploads/{{data.file_encrypt_name}}" >
						</div>					

						<div class="color_container">
							<div class="img_colors" ng-repeat="color in data.colors"  ng-style="{'background-color': color.color_code,'width':colorwidth(data.colors[$index]) }" >
							</div>
							<div class="tags">
								<div class="tags_prop" ng-repeat="tags in data.tags">{{tags.tag_code}}
								</div>

							</div>
						</div>
			</div>						
				
	
	</div>		
	</div>


</div>