<div class="container" >
	<div style="margin:100px 0px 80px 0px">
		<div class="row ">
			
					<div class="img_container2">
						<img src="server/uploads/{{single_item[0].file_encrypt_name}}" class="img-responsive" />
					</div>

					<div class="tab_content_container" ng-init="tab1=1">
						<div class="tabContent1" ng-show="tab1==1">
							<h1 class="tab_heading">Prediction</h1>
							<div  ng-repeat="tags in single_item[0].tags">
								<div class="col-xs-5 border " >
									<div class="tag_text">
										{{tags.tag_code}}	
									</div>
								</div>
								<div class="col-xs-2 border">
									<div class="pull-right">
										{{tags.tag_percentage}}
									</div>
								</div>
								<div class="col-xs-5">
									<div class="img_colors" ng-style="{'background-color':tagcolor(single_item[0].tags[$index]) ,'width':tagwidth(single_item[0].tags[$index]) }" ></div>							
									</div>									
							</div>
						</div>


						<div class="tabContent2" ng-show="tab1==2"> 
							<h1 class="tab_heading">Color</h1>
							<div  ng-repeat="clr in single_item[0].colors">
								
								<div class="col-xs-12">
									<div class="img_colors color_code" ng-style="{'background-color': clr.color_code,'width':colorwidth(single_item[0].colors[$index])}" >
										{{ clr.color_code}}
									</div>					
									<span>{{ (clr.color_percentage*100).toFixed(0) + "%" }}</span>		
								</div>	
								
							</div>
						</div>

						<div class="tabContent3" ng-show="tab1==3">
							<h1 class="tab_heading">Metadata</h1>
						</div>						
					</div>
					<div class="tabs_container" >
						<ul class="tabs">
							<li class="tab1" ng-click="tab1=1">Prediction</li>
							<li class="tab1" ng-click="tab1=2">Color</li>
							<li class="tab1" ng-click="tab1=3">Metadata</li>
						</ul>
						
					</div>

			
		</div>
	</div>
</div>