<div id="fh5co-work-section" class="fh5co-light-grey-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 animate-box fadeInUp animated">
                <a href="#" class="item-grid text-center">
                    <div class="image" style="background-image: url(images/image_1.jpg)"></div>
                    <div class="v-align">
                        <div class="v-align-middle">
                            <h3 class="title">Geographical App</h3>
                            <h5 class="category">Web Application</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 animate-box fadeInUp animated">
                <a href="#" class="item-grid text-center">
                    <div class="image" style="background-image: url(images/image_2.jpg)"></div>
                    <div class="v-align">
                        <div class="v-align-middle">
                            <h3 class="title">Geographical App</h3>
                            <h5 class="category">User Interface</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 animate-box fadeInUp animated">
                <a href="#" class="item-grid text-center">
                    <div class="image" style="background-image: url(images/image_3.jpg)"></div>
                    <div class="v-align">
                        <div class="v-align-middle">
                            <h3 class="title">Geographical App</h3>
                            <h5 class="category">Branded</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 animate-box fadeInUp animated">
                <a href="#" class="item-grid text-center">
                    <div class="image" style="background-image: url(images/image_4.jpg)"></div>
                    <div class="v-align">
                        <div class="v-align-middle">
                            <h3 class="title">Geographical App</h3>
                            <h5 class="category">Web</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 animate-box fadeInUp animated">
                <a href="#" class="item-grid text-center">
                    <div class="image" style="background-image: url(images/image_5.jpg)"></div>
                    <div class="v-align">
                        <div class="v-align-middle">
                            <h3 class="title">Geographical App</h3>
                            <h5 class="category">Illustration</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 animate-box fadeInUp animated">
                <a href="#" class="item-grid text-center">
                    <div class="image" style="background-image: url(images/image_6.jpg)"></div>
                    <div class="v-align">
                        <div class="v-align-middle">
                            <h3 class="title">Geographical App</h3>
                            <h5 class="category">Web Application</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 animate-box fadeInUp animated">
                <a href="#" class="item-grid text-center">
                    <div class="image" style="background-image: url(images/image_7.jpg)"></div>
                    <div class="v-align">
                        <div class="v-align-middle">
                            <h3 class="title">Geographical App</h3>
                            <h5 class="category">Web Application</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 animate-box fadeInUp animated">
                <a href="#" class="item-grid text-center">
                    <div class="image" style="background-image: url(images/image_8.jpg)"></div>
                    <div class="v-align">
                        <div class="v-align-middle">
                            <h3 class="title">Geographical App</h3>
                            <h5 class="category">Web Application</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 animate-box fadeInUp animated">
                <a href="#" class="item-grid text-center">
                    <div class="image" style="background-image: url(images/image_9.jpg)"></div>
                    <div class="v-align">
                        <div class="v-align-middle">
                            <h3 class="title">Geographical App</h3>
                            <h5 class="category">Web Application</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="fh5co-cta" style="background-image: url(images/slide_1.jpg);">
    <div class="overlay"></div>
    <div class="container">
        <div class="col-md-12 text-center animate-box fadeInUp animated">
            <h3>We Try To Update The Site Everyday</h3>
            <p><a href="#" class="btn btn-primary btn-outline with-arrow">Get started now! <i class="icon-arrow-right"></i></a></p>
        </div>
    </div>
</div>