<footer>
    <div class="footer-inner">
        <div class="footer-main-container">
            <ul>
                <li class="footer-col-4">
                    <h3 class="col-title">Product</h3>
                    <ul class="footer-links">
                        <li class="col-children">
                            <a href="https://developer.clarifai.com/guide/">Features</a>
                        </li>
                        <li class="col-children">
                            <a href="/technology">Technology</a>
                        </li>
                        <li class="col-children">
                            <a href="/pricing">Pricing</a>
                        </li>
                    </ul>
                </li>
                <li class="footer-col-4">
                    <h3 class="col-title">Company</h3>
                    <ul class="footer-links">
                        <li class="col-children">
                            <a href="/about">About</a>
                        </li>
                        <li class="col-children">
                            <a href="http://blog.clarifai.com/press/" target="_blank">News</a>
                        </li>
                        <li class="col-children">
                            <a href="/careers">Careers</a>
                        </li>
                    </ul>
                </li>
                <li class="footer-col-4">
                    <h3 class="col-title">Learn</h3>
                    <ul class="footer-links">
                        <li class="col-children">
                            <a href="https://developer.clarifai.com/guide" target="_blank">API Docs</a>
                        </li>
                        <li class="col-children">
                            <a href="https://developer.clarifai.com/support" target="_blank">Support</a>
                        </li>
                    </ul>
                </li>
                <li class="footer-col-4">
                    <h3 class="col-title">Connect</h3>
                    <ul class="footer-links">
                        <li class="col-children">
                            <a href="/contact">Contact Us</a>
                        </li>
                        <li class="col-children">
                            <a href="https://www.facebook.com/Clarifai" target="_blank">Facebook</a>
                        </li>
                        <li class="col-children">
                            <a href="https://twitter.com/Clarifai" target="_blank">Twitter</a>
                        </li>
                        <li class="col-children">
                            <a href="https://www.linkedin.com/company/clarifai" target="_blank">LinkedIn</a>
                        </li>
                        <li class="col-children">
                            <a href="https://github.com/Clarifai" target="_blank">GitHub</a>
                        </li>
                        <li class="col-children">
                            <a href="https://community.clarifai.com/" target="_blank">Community</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="footer-sign-up-container col-3">
                <p>Bring the future into focus.</p>
                <a class="footer-auth-sign-up" href="#" target="_blank">Sign Up</a>
            </div>
        </div>
        <div class="footer-sec-container">
            <a href="#" target="_blank" class="footer-logo col-2">Flew</a>
            <div class="sec-links-container">
                <ul>
                    <li>
                        <a href="/terms">Terms of use</a>
                    </li>
                    <li>
                        <a href="/privacy">Privacy &amp; Security Statement</a>
                    </li>
                    <li>
                        <a href="/dmca">Content Takedown</a>
                    </li>
                </ul>
                <p class="copyright">© Copyright 2016 Clarifai, Inc.</p>
            </div>
        </div>
    </div>
</footer>