<header id="fh5co-header" role="banner">
    <div class="fix-header">
        <div class="container">
            <div class="header-inner">
                <div class="col-md-3 hidden-xs"><h1><a href="#/">Flew</a></h1></div>
                <div class="col-md-3 visible-xs">

                      
                <h1> <i class="fa fa-bars bars"  aria-hidden="true" onclick="openNav()"></i>Project Cities  </h1>
                </div>
                <nav role="navigation" class="col-md-9">
                    <ul class="navbar-left navMenu">
                        <li><a href="#/">Home</a></li>
                        <li><a href="#/uploads">Uploads</a></li>
                        <li><a href="#/listing">Listing</a></li>
<!--                         <li><a href="#/work">Work</a></li>
                        <li><a href="#/services">Services</a></li>
                        <li><a href="#/pricing">Pricing</a></li>
                        <li><a href="#/about">About</a></li>
                        <li><a href="#/contact">Contact</a></li>
                        <li><a href="#/demo">Demo</a></li> -->
                    </ul>
                    <ul class="navbar-right navButtons">
                        <li ng-show="loggedIn()" class="ng-hide">
                            <a href="#/login" ng-click="logout()">logout</a>
                        </li>
                        <li><a href="#/login"  ng-show="!loggedIn()" class="ng-hide">Login</a></li>
                        
                    </ul>
                </nav>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</header>
<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
<li><a href="#/" onclick="closeNav()">Home</a></li>
<li><a href="#/uploads" onclick="closeNav()">Uploads</a></li>
<li><a href="#/listing" onclick="closeNav()">Listing</a></li>
</div>



<script>
function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
}
</script>